{% include "header.html" %}
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="editItem">
			<h2>Edit Item</h2>
			<form action="{{url_for('editItem', category_name=category.name, item_name=item.name)}}" method="POST">
				<p>Title</p>
				<input type="text" name="title" placeholder="{{item.name}}">
				<p>Description</p>
				<input type="textarea" name="description" placeholder="{{item.description}}">
				<p>Category</p>
				<select name="category">
					{% for cat in categories %}
						{% if cat.name == category.name %}
							<option selected>{{cat.name}}</option>
						{% else %}
							<option>{{cat.name}}</option>
						{% endif %}
					{% endfor %}
				</select>
				<p><input type="Submit" value="Update"></p>
			</form>
			<a href = "{{ url_for('itemDesc', category_name=category.name, item_name=item.name)}}"> Cancel </a>
		</div>
	</body>
</html>