<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<div class="head">
			<h1 class="heading">Catalog App</h1>
			<div class="login">
				{% if 'username' not in session %}
					<button type="button"><a href="{{url_for('showLogin')}}">Login</a></button>
				{% else %}
					<button type="button"><a href="{{url_for('gdisconnect')}}">Logout</a></button>
				{% endif %}
			</div>
		</div>
	</body>
</html>